1) What are data structures, and why are they important?
- Data structures are a way of organizing and storing data so that it can be accessed and manipulated effectively. Data structures are imortant because: -

- They help manage large amounts of data in an organized way (e.g., lists for sequences, dictionaries for key-value pairs).
- Improved Performance: Choosing the right data structure can make your code faster and use less memory.
- Simplified Code: Built-in structures like sets, tuples, and dictionaries simplify complex tasks such as deduplication, lookups, or mapping relationships.
- Problem Solving: Many algorithms rely on specific data structures (like stacks, queues, or trees) to work correctly.
- Readable and Maintainable Code: Proper structure makes your code easier to understand and maintain.

2)  Explain the difference between mutable and immutable data types with examples.
- Mutable data types means the elements of those data types can be modified. Lists, Sets, Dictionaries are mutable data types

- Immutable data types means the elements of those data types cannot be modified. Tuple, String are immutable data types.

3) What are the main differences between lists and tuples in Python?
- Lists are mutable i.e. item assignment can be done and lists can be modified.

- Tuples are immutable i.e. item assignment is not possible and they cannot be modified.

4) Describe how dictionaries store data.
- Dictionaries store data in the form of pairs (keys and values)

- In dictionary, data is stored in similar way as list but the index here is referred to the keys present in the dictionary.

5) Why might you use a set instead of a list in Python?
- Because set removes the duplicate elements if present any while list returns the elements as it is provided by the user.

- Sets allows operations like union, intersection, difference and symmetric difference making our code easy while list donot provide such operations directly.

6) What is a string in Python, and how is it different from a list?
- String in python is an immutable data structure whereas lists are mutable allowing modification of elements in easier manner.

- String is a sequence of characters while list is a sequence of hetrogenous data types (string, int, float, boolean).

- String is defined using quotes (single, double or triple) while list is defined using suare brackets.

7) How do tuples ensure data integrity in Python?
- Since tuples are immutable i.e elements cannot be modified(add, remove or change) once created. So data integrity is maintained since it does not allow the values to change.

8) What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that stores key-value pairs and uses a hash function to compute an index into an array of buckets from which the desired value can be found.

- A dictionary in Python is a direct implementation of a hash table.A hash table stores data as key-value pairs, just like a Python dictionary.

9) Can lists contain different data types in Python?
- Yes, lists can contains variables of different datatypes in python.

10) Explain why strings are immutable in Python?
- Strings are immutable, meaning once you create a string, you cannot change its contents. If we try to modify it, Python creates a new string instead

11) What advantages do dictionaries offer over lists for certain tasks?
- Dictionaries eliminates the duplicates while list does not, which gives us advantage while clean data handling.
- Also since dictionaries are stored as key-value pairs, they allow easy lookup by keys when handling big volumes of data.
- Dictionaries are unordered, so their values can be called just by keys, making it more flexible than lists.

12) Describe a scenario where using a tuple would be preferable over a list?
- Tupleis recommenede where we donot want the datas to change.
For example, in aadhar card, aadhar card number is fixedfor every individual. So this can be contained in a tuple since we do not want the aadhar card numbers to change for an individual.

13) How do sets handle duplicate values in Python?
- Sets eliminates the duplicate values in python if any found.

14) How does the “in” keyword work differently for lists and dictionaries?
- in checks whether a value exists among the elements of the list

- in checks whether a key exists in the dictionary, not a value.

15) Can you modify the elements of a tuple? Explain why or why not?
- No, we cannot modify the elements of a tuple because they are immutable i.e. item assignment is not possible in tuple.

16) What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary inside another dictionary. It allows you to store complex data structures in a clean, organized way like representing relationships or grouping related information together.

17) Describe the time complexity of accessing elements in a dictionary?
- Accessing elements in a dictionary is very fast.
- Python dictionaries use a hash table internally, which allows direct indexing to the memory location of the value using the key's hash.

18) In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries in several specific situations, especially when order of the values, position, or simple sequences matter more than key-based access.

19) Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries are considered unordered becausenthe order in which you inserted keys is not preserved. If we print a dictionary or iterate over it, keys could appear in any random order.
- Data retrieval is not much affected, still we can access the values of dictionaries by keys instead of indexing.

20) Explain the difference between a list and a dictionary in terms of data retrieval.
- List elements can be accessed by position/index while dictionary elements can be accessed by keys.

In [ ]:
# 1) Write a code to create a string with your name and print it?
a="ritika"
print(a)
print(type(a))

ritika
<class 'str'>

In [ ]:
# 2) Write a code to find the length of the string "Hello World".
print(len("Hello World"))

11

In [ ]:
# 3) Write a code to slice the first 3 characters from the string "Python Programming".
str="Python Programming"
print(str[3:])

hon Programming

In [ ]:
# 4) Write a code to convert the string "hello" to uppercase.
str="hello"
print(str.upper())

HELLO

In [ ]:
# 5) Write a code to replace the word "apple" with "orange" in the string "I like apple".
str="I like apple"
str1=str.replace("apple","orange")
print(str1)

I like orange

In [ ]:
# 6) Write a code to create a list with numbers 1 to 5 and print it.
num = list(range(1, 6))
print(num)

[1, 2, 3, 4, 5]

In [ ]:
# 7) Write a code to append the number 10 to the list [1, 2, 3, 4].
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [ ]:
# 8) Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list=[1,2,3,4,5]
list.pop(2)
print(list)

[1, 2, 4, 5]

In [ ]:
# 9) Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
list=['a','b','c','d']
print(list[1])

b

In [ ]:
# 10) Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10,20,30,40,50]
print(list[::-1])

[50, 40, 30, 20, 10]

In [ ]:
# 11) Write a code to create a tuple with the elements 100, 200, 300 and print it.
tuple=(100,200,300)
print(tuple)
print(type(tuple))

(100, 200, 300)
<class 'tuple'>

In [ ]:
# 12) Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple=('red', 'green', 'blue', 'yellow')
print(tuple[1:])

('green', 'blue', 'yellow')

In [ ]:
# 13) Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple=(10,20,5,15)
print(min(tuple))

5

In [ ]:
# 14) Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
tuple=('dog','cat','rabbit')
print(tuple.index("cat"))

1

In [ ]:
# 15) Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
tuple=("banana","tomato","kiwi")
if "kiwi" in tuple:
  print("yes")

yes

In [ ]:
# 16) Write a code to create a set with the elements 'a', 'b', 'c' and print it.
s={'a','b','c'}
print(s)
print(type(s))

{'a', 'b', 'c'}
<class 'set'>

In [ ]:
# 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
s={1,2,3,4,5}
print(s.clear())

None

In [ ]:
# 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
s={1,2,3,4}
print(s.pop())

1

In [ ]:
 # 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
 s={1,2,3}
 t={3,4,5}
 print(s | t)

{1, 2, 3, 4, 5}

In [ ]:
#  20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
u={1,2,3}
v={2,3,4}
print(u & v)

{2, 3}

In [ ]:
# 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dict={'name':'ritika','age':25,'city':'Bhubaneshwar'}
print(dict)

{'name': 'ritika', 'age': 25, 'city': 'Bhubaneshwar'}

In [ ]:
# 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dict={'name': 'John', 'age': 25}
dict["country"]='USA'
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [ ]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dict={'name': 'Alice', 'age': 30}
print(dict['name'])

Alice

In [ ]:
# 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dict={'name': 'Bob', 'age': 22, 'city': 'New York'}
dict.pop("age")
print(dict)

{'name': 'Bob', 'city': 'New York'}

In [ ]:
#  25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
dict={'name': 'Alice', 'city': 'Paris'}
if 'city' in dict:
  print('present')

present

In [ ]:
#  26. Write a code to create a list, a tuple, and a dictionary, and print them all.
list=[1,2,'ritika',0.01]
tuple=(1,2,'hi',0.4)
dict={"num":1,"divisor":5.6, "word":"don"}
print(list)
print(tuple)
print(dict)

[1, 2, 'ritika', 0.01]
(1, 2, 'hi', 0.4)
{'num': 1, 'divisor': 5.6, 'word': 'don'}

In [ ]:
#  27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result (replaced).
list=[1,56,78,23,45]
list.sort()
print(list)

[1, 23, 45, 56, 78]

In [ ]:
# 28. Write a code to create a list with strings and print the element at the third index.
fruits = ['apple', 'banana', 'mango', 'orange', 'grapes']
print(fruits[3])

orange

In [ ]:
# 29. Write a code to combine two dictionaries into one and print the result.
dict1={"name":"ritika", "city":"bbsr", "age":25}
dict2={"employeeid":1100408,"hobby":"dancing"}
print(dict1|dict2)

{'name': 'ritika', 'city': 'bbsr', 'age': 25, 'employeeid': 1100408, 'hobby': 'dancing'}

In [ ]:
# 30. Write a code to convert a list of strings into a set.
dishes = ['kadoo ki chutney', 'fried octupus legs', 'baby blood', 'cockroach chutney']
set1 = set(dishes)
print(set1)

{'fried octupus legs', 'kadoo ki chutney', 'cockroach chutney', 'baby blood'}